---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="About" sideBarActiveItemID="about">
  <div class ="text-5xl pt-8 pb-6 font-bold md:-ml-8 ">Who am I?</div>

  <div class="grid grid-flow-row gap-4">
    
    <div class="pl-2">I am <b>Christopher Januario</b>, a Sophmore at UCF pursuing a BS in <b>Mathematics</b> and <b>Computer Science</b>.</div>
    <div class="pl-2">I carry a passion for all things <b>Math</b>, <b>Science</b>, <b>Philosophy</b> and <b>Art</b></div>
    <div class="pl-2">My biggest skills are in <b>Problem Solving</b>, <b>Critical Thinking</b> and <b>Pattern Recognition</b></div>
  </div>
  
  <div class="py-3 pt-12">
    <div class="text-4xl w-full font-bold md:-ml-8">Hobbies</div>
  </div>

  <div class="grid gap-2 mb-10">
    <div>
      <div class = "text-2xl font-semibold">
        Chess
      </div>
      <p class = "pl-4">99th Percentile of Chess.com players</p>
      <p class = "pl-4">75th Percentile of USCF competitors</p>
      <p class = "pl-8">After </p>
    </div>
    <div >
      <div class = "text-2xl font-semibold">
        Basketball
      </div>
    </div>
    <div>
      <div class = "text-2xl font-semibold">
        Movies
      </div>
    </div>
    <div>
      <div class = "text-2xl font-semibold">
        Movies
      </div>
    </div>
  </div>
</BaseLayout>
