---
import SideBarFooter from "./SideBarFooter.astro";
import SideBarMenu from "./SideBarMenu.astro";
import {resumePic} from "../components/Images"
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-2 pt-2 h-screen w-[19rem] text-base-content bg-base-200 flex flex-col">    
    <div class="w-fit mx-auto mt-5 mb-6">
      <a href="/">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-[8.5rem] rounded-full shadow]">
            <img class="mask mask-circle bg-opacity-0" width={300} height={300} src={`data:image/png;base64, ${resumePic}`} alt="Profile image" />
          </div>
        </div>
      </a>
    </div>
    
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>
