---
import { Image } from "astro:assets";

const { name, logo } = Astro.props;
---
<div class="text-sm grid content-center tooltip  hover:scale-[110%] " data-tip={name}>
    <img
      src={`data:image/png;base64, ${logo}`}
      height={80}
      alt={name}
    />
  </div>