---
import { Image } from "astro:assets";

const { name, logo } = Astro.props;
---
<div class="text-sm grid content-center tooltip scale-[80%] hover:scale-[90%] " data-tip={name}>
    <Image
      src={logo}
      height={80}
      alt={name}
    />
  </div>